/* ================= */
/* LAYOUT GENERAL */
/* ================= */

html,
body {
  height: 100%;
  font-family: "Mulish", "Segoe UI", Tahoma, Verdana, sans-serif;
  background-color: aliceblue;
}

/* ======================================== */
/*  VARIABLES Y CONFIGURACIONES GLOBALES */
/* ======================================== */

:root {
  --primary-color: rgb(53, 64, 83);
  --secondary-color: rgb(43, 47, 53);
}

nav {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

h3 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline;
}

img {
  object-fit: cover;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  font-size: 16px;
  list-style-type: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

input {
  margin-bottom: 25px;
  width: 250px;
}

label {
  margin-bottom: 10px;
}

textarea {
  margin-top: 12px;
  width: 250px;
}

footer {
  color: white;
  background-color: var(--primary-color);
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* ============== */
/* IDs y CLASES */
/* ============== */

#navegacion-cabecera,
#nombre-restaurante {
  margin: 0;
}

#navegacion-cabecera {
  background-color: var(--primary-color);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nombre-restaurante {
  color: white;
  background-color: var(--secondary-color);
  font-size: 30px;
  text-align: center;
  padding: 10px;
}

#menu-carta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 40px;
}

#precio-menu {
  text-align: center;
  margin-bottom: 80px;
  font-size: 25px;
}

#recomendaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#desc-recomendaciones {
  font-size: 20px;
  text-align: center;
}

#audio-aplausos {
  margin-bottom: 25px;
}

#nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

#contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#primeros-platos,
#segundos-platos,
#postres-menu,
#bebida-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.boton-cabecera {
  color: white;
  text-decoration: none;
  margin: 30px;
  font-size: 20px;
}

.carrusel {
  width: 100%;
  height: 250px;
  position: relative;
}

.carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  animation: cambiar 12s infinite;
  animation-timing-function: ease-in-out;
}

.carrusel img:nth-child(1) {
  animation-delay: 0s;
}
.carrusel img:nth-child(2) {
  animation-delay: 3s;
}
.carrusel img:nth-child(3) {
  animation-delay: 6s;
}
.carrusel img:nth-child(4) {
  animation-delay: 9s;
}

.raciones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}

.racion {
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  padding: 10px 15px;
  /* border-bottom: 1px solid grey; */
}

.precio {
  text-align: right;
}

.img-recomendaciones {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.img-bar {
  margin: 20px;
  width: 80%;
}

.botones-formulario {
  display: flex;
  flex-direction: row;
  margin: 25px;
  gap: 30px;
}

.text-recomendaciones {
  text-align: center;
  margin-top: 0;
}

.desc-nosotros {
  font-size: 20px;
}

#titulo-contacto {
  font-size: 38px;
  margin-bottom: 40px;
}

/* ================= */
/* ANIMACIONES */
/* ================= */

@keyframes cambiar {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* ================= */
/* MEDIA QUERIES */
/* ================= */

@media (max-width: 1350px) {
  #menu-carta {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  #desc-recomendaciones {
    font-size: 16px;
  }

  .desc-nosotros {
    font-size: 16px;
  }

  #titulo-contacto {
    font-size: 30px;
  }
}

@media (max-width: 650px) {
  .boton-cabecera {
    font-size: 15px;
    margin: 20px;
  }
  #titulo-recomendaciones {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  li {
    font-size: 12px;
  }

  footer {
    width: 100%;
    font-size: 13px;
  }
  .boton-cabecera {
    font-size: 11px;
    margin: 20px;
  }

  #precio-menu {
    font-size: 25px;
  }

  #titulo-recomendaciones {
    font-size: 25px;
  }

  #titulo-nosotros {
    font-size: 30px;
  }

  #desc-recomendaciones {
    font-size: 14px;
  }

  .racion {
    flex-direction: column;
    align-items: flex-start;
  }

  .precio {
    margin-top: 5px;
  }

  .desc-nosotros {
    font-size: 14px;
  }
}
