body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: black;
  background-color: white;
}

#navegacionCabecera, #nombreRestaurante {
  margin: 0;
}

#navegacionCabecera{
    background-color: rgb(53, 64, 83);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nombreRestaurante{
    color: white;
    background-color: rgb(43, 47, 53);
    font-weight: 100;
    text-align: center;
    padding: 10px;
}

.botonCabecera{
    color: white;          
    text-decoration: none;
    margin: 30px;
}