body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: black;
  background-color: white;
}

#navegacionCabecera, #nombreRestaurante {
  margin: 0;
}

#navegacionCabecera{
    background-color: rgb(53, 64, 83);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nombreRestaurante{
    color: white;
    background-color: rgb(43, 47, 53);
    font-weight: 100;
    text-align: center;
    padding: 10px;
}

.botonCabecera{
    color: white;          
    text-decoration: none;
    margin: 30px;
}

.carrusel {
    width: 100%;
    height: 250px;
    position: relative;
}

.carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    animation: cambiar 12s infinite;
    animation-timing-function: ease-in-out;
}

.carrusel img:nth-child(1) { animation-delay: 0s; }
.carrusel img:nth-child(2) { animation-delay: 3s; }
.carrusel img:nth-child(3) { animation-delay: 6s; }
.carrusel img:nth-child(4) { animation-delay: 9s; }

@keyframes cambiar {
  0% {opacity: 0}
  10% {opacity: 1;}
  25% {opacity: 1;}
  35% { opacity: 0; }
  100% { opacity: 0; }
}